{% extends 'profile/base.html' %}

{% block head_title %}
    {{ title }}
    <title>博客管理</title>
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('profile.user_index',username=current_user.username) }}">个人首页</a></li>
        <li class="active">博客管理</li>
    </ol>
{% endblock %}
{% block right_content %}
    {{ super() }}
    {% if not posts %}
        <div><p>您还没有发表文章哦!</p><a href="{{ url_for('public.edit') }}">去发表一篇试试吧!</a></div>
    {% else %}
        <div class="table-responsive">
            <div class="" style="float:right;">
                搜索：<input type="text" id="dsearch" placeholder="请输入关键词">
            </div>
            <table class="table table-bordered table-hover " id='stable'>
                <thead>
                <tr>
                    <th>
                        <mark>文章标题</mark>
                    </th>

                    <th>
                        <mark>发布时间</mark>
                    </th>
                    <th>
                        <mark>评论数量</mark>
                    </th>
                    <th>
                        <mark>阅读数量</mark>
                    </th>
                    <th>
                        <mark>修改文章</mark>
                    </th>
                    <th>
                        <mark>删除文章</mark>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td><a href="{{ url_for('public.details', id = post.id) }}">
                            <h5>{{ post.title|truncate(22, True) }}</h5>
                        </a></td>
                        <td><h5>{{ post.created.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                        <td><h5>{{ post.comment_times|default('0',true) }}</h5></td>
                        <td><h5>{{ post.read_times|default('0',true) }}</h5></td>
                        <td><a href="{{ url_for('public.edit',id=post.id) }}" class="btn btn-success">修改</a></td>
                        <td><a href="{{ url_for('profile.user_blog_manage',id=post.id) }}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


    {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename ='javascripts/users.js') }}"
                type="text/javascript"></script>
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}