{% extends 'profile/base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block head_title %}
    {{ title }}
    <title>收藏管理</title>
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('profile.user_index',username=current_user.username) }}">个人首页</a></li>
        <li class="active">收藏管理</li>
    </ol>
{% endblock %}
{% block right_content %}
    {{ super() }}
    {% if not posts %}
    <div><p>您还没有收藏哦!</p><a href="{{ url_for('public.index') }}">去首页看看吧!</a></div>
    {% else %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover ">
            <thead>
            <tr>
                <th>
                    <mark>文章标题</mark>
                </th>

                <th>
                    <mark>发布时间</mark>
                </th>
                <th>
                    <mark>评论数量</mark>
                </th>
                <th>
                    <mark>阅读数量</mark>
                </th>
                <th>
                    <mark>取消收藏</mark>
                </th>

                {#      <th>操作</th>#}
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>

                    <td><a href="{{ url_for('public.details', id = post.id) }}"><h5>{{ post.title|truncate(22, True) }}</h5>
                    </a></td>

                    <td><h5>{{ post.created.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                    <td><h5>{{ post.comment_times }}</h5></td>
                    <td><h5>{{ post.read_times }}</h5></td>
{#                    <td><a href="{{ url_for('.edit',id=post.id) }}" class="btn btn-success">修改</a></td>#}
                    <td><a href="{{ url_for('profile.user_collect_manage',id=post.id) }}" class="btn btn-danger">取消</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <!-- // 用户管理 -->
    <!-- 分页 -->
    {% if pagination %}
        {{ render_pagination(pagination) }}
    {% endif %}
    <!-- // 分页 -->
{% endblock %}