{% extends 'profile/base.html' %}

{% block head_title %}
    {{ title }}
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('profile.user_index',username=current_user.username) }}">个人首页</a></li>
        <li class="active">评论管理</li>
    </ol>
{% endblock %}
{% block right_content %}
    {{ super() }}
    {% if not comments %}
        <div><p>您还没有发表评论哦!</p><a href="{{ url_for('public.index') }}">先去首页看看文章吧!</a></div>
    {% else %}
        <div class="table-responsive">
            <div class="" style="float:right;">
                搜索：<input type="text" id="dsearch" placeholder="请输入关键词">
            </div>
            <table class="table table-bordered table-hover " id="stable">
                <thead>
                <tr>
                    <th>
                        <mark>博客标题</mark>
                    </th>
                    <th>
                        <mark>评论内容</mark>
                    </th>
                    <th>
                        <mark>评论时间</mark>
                    </th>
                    <th>
                        <mark>删除评论</mark>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td><a href="{{ url_for('public.details', id = comment.post.id) }}">
                            <h5>{{ comment.post.title|truncate(30, True) }}</h5>
                        </a></td>
                        <td><h5>{{ comment.body|truncate(30, True) }}</h5></td>
                        <td><h5>{{ comment.created.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                        <td><a href="{{ url_for('profile.user_comment_manage',id=comment.id) }}" class="btn btn-danger">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename ='javascripts/users.js') }}"
                type="text/javascript"></script>
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}