{% extends 'profile/base.html' %}

{% block head_title %}
    {{ title }}
    <title>好友管理</title>
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('profile.user_index',username=current_user.username) }}">个人首页</a></li>
        <li class="active">好友管理</li>
    </ol>
{% endblock %}
{% block right_content %}
    {{ super() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#f_stable" aria-controls="home" role="tab"
                                                  data-toggle="tab"><i
                class="fa fa-user "></i>我的好友<span class="badge"
                                                     style="color: #ebebeb;font-size: 13px;background-color: #cc2729">{{ n_sy }}</span></a>
        </li>
        <li role="presentation"><a href="#f_stable1" aria-controls="profile" role="tab" data-toggle="tab"><i
                class="fa fa-user-plus"></i>关注我的<span class="badge"
                                                       style="color: #ebebeb;font-size: 13px;background-color: #15cc0a">{{ n_u }}</span></a>
        </li>
        <li role="presentation"><a href="#f_stable2" aria-controls="messages" role="tab" data-toggle="tab"><i
                class="fa fa-user-o"></i>我关注的<span class="badge"
                                                          style="color: #ebebeb;font-size: 13px;background-color: #cccc0c">{{ n_c }}</span></a>
        </li>
    </ul>
    <div class="tab-content tabs">
        <div role="tabpanel" class="tab-pane fade in active" id="f_stable">
            <div class="table-responsive">
                <div class="" style="float:right;">
                    搜索：<input type="text" id="dsearch" placeholder="请输入关键词">
                </div>
                <table class="table table-bordered table-hover " id="stable">
                    <thead>
                    <tr>
                        <th>
                            <mark>用户名</mark>
                        </th>

                        <th>
                            <mark>邮箱</mark>
                        </th>
                        <th>
                            <mark>注册时间</mark>
                        </th>
                        <th>
                            <mark>最后登录</mark>
                        </th>
                        <th>
                            <mark>角色</mark>
                        </th>
                        <th>
                            <mark>发帖数量</mark>
                        </th>
                        {#                    <th>#}
                        {#                        <mark>管理</mark>#}
                        {#                    </th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for friend in friends %}
                        <tr>
                            <td><a href="{{ url_for('profile.others', username = friend.username) }}">
                                <h5>{{ friend.username }}</h5>
                            </a></td>
                            <td><h5>{{ friend.email }}</h5></td>
                            <td><h5>{{ friend.created_at.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                            <td><h5>{{ friend.last_login.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                            <td><h5>{{ friend.get_roles() }}</h5></td>
                            <td><h5>{{ friend.post_total }}</h5></td>
                            {#                        <td><a href="{{ url_for('profile.user_follower_manage',username=followed.username) }}"#}
                            {#                               class="btn btn-danger">取消</a>#}
                            {#                        </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane fade" id="f_stable1">
            <div class="table-responsive">
                <table class="table table-bordered table-hover " id="stable1">
                    <thead>
                    <tr>
                        <th>
                            <mark>用户名</mark>
                        </th>

                        <th>
                            <mark>邮箱</mark>
                        </th>
                        <th>
                            <mark>注册时间</mark>
                        </th>
                        <th>
                            <mark>最后登录</mark>
                        </th>
                        <th>
                            <mark>角色</mark>
                        </th>
                        <th>
                            <mark>发帖数量</mark>
                        </th>
                        {#                    <th>#}
                        {#                        <mark>管理</mark>#}
                        {#                    </th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for follower in followers %}
                        <tr>
                            <td><a href="{{ url_for('profile.others', username = follower.username) }}">
                                <h5>{{ follower.username }}</h5>
                            </a></td>
                            <td><h5>{{ follower.email }}</h5></td>
                            <td><h5>{{ follower.created_at.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                            <td><h5>{{ follower.last_login.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                            <td><h5>{{ follower.get_roles() }}</h5></td>
                            <td><h5>{{ follower.post_total }}</h5></td>
                            {#                        <td><a href="{{ url_for('profile.user_follower_manage',username=followed.username) }}"#}
                            {#                               class="btn btn-danger">取消</a>#}
                            {#                        </td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div role="tabpanel" class="tab-pane fade" id="f_stable2">
            <div class="table-responsive">
                <table class="table table-bordered table-hover " id="stable2">
                    <thead>
                    <tr>
                        <th>
                            <mark>用户名</mark>
                        </th>

                        <th>
                            <mark>邮箱</mark>
                        </th>
                        <th>
                            <mark>注册时间</mark>
                        </th>
                        <th>
                            <mark>最后登录</mark>
                        </th>
                        <th>
                            <mark>角色</mark>
                        </th>
                        <th>
                            <mark>发帖数量</mark>
                        </th>
                        <th>
                            <mark>管理</mark>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for followed in followeds %}
                        <tr>
                            <td><a href="{{ url_for('profile.others', username = followed.username) }}">
                                <h5>{{ followed.username }}</h5>
                            </a></td>
                            <td><h5>{{ followed.email }}</h5></td>
                            <td><h5>{{ followed.created_at.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                            <td><h5>{{ followed.last_login.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                            <td><h5>{{ followed.get_roles() }}</h5></td>
                            <td><h5>{{ followed.post_total }}</h5></td>
                            <td><a href="{{ url_for('profile.user_follower_manage',username=followed.username) }}"
                                   class="btn btn-danger">取消</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}