{% extends 'profile/base.html' %}

{% block head_title %}
    {{ title }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('profile.user_index',username=current_user.username) }}">个人首页</a></li>
        <li class="active">打赏管理</li>
    </ol>
{% endblock %}

{% block right_content %}
    {{ super() }}
    <h3>我的打赏信息</h3>
    <div align="center">
        <table width="800px">
            <tr>
                <td align="center"><img src="{{ user.zfb_img }}" width="200px"></td>
                <td align="center"><img src="{{ user.wx_img }}" width="200px"></td>
            </tr>
            <tr>
                <td align="center"><h4>支付宝收款金额￥{{ user.zfb_num }}</h4></td>
                <td align="center"><h4>微信收款金额￥{{ user.wx_num }}</h4></td>
            </tr>
            <tr>
                <td align="center"><a href="{{ url_for('profile.upload_zfbimg') }} " class="btn btn-info">修改支付宝信息</a>
                </td>
                <td align="center"><a href="{{ url_for('profile.upload_wximg') }}" class="btn btn-info">修改微信信息</a></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}