{% extends 'bootstrap/base.html' %}

{% block head %}
    <head>
        {{ super() }}
        <link rel="shortcut icon" href="/static/avatar/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
        {% include 'includes/_navbar.html' %}
        {#        {% include 'includes/_footer.html'%}#}
        <title>{% block title %}{{ title|safe }}{% endblock %}</title>
    </head>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <style>
    .container{
        margin-top: 30px;
    }
    </style>

{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock %}

{% block content %}
    <div class="container">
  <div class="col-md-2">
    <!-- 左侧的菜单 -->
    <div class="list-group">
      <a href="{{ url_for('.admin_index') }}" class="list-group-item">
        <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp后台首页
      </a>
      <a href="{{ url_for('.users_manage') }}" class="list-group-item "><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp用户管理</a>
      <a href="{{ url_for('.blogs_manage') }}" class="list-group-item "><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp博客管理</a>
      <a href="{{ url_for('.comments_manage') }}" class="list-group-item"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp评论管理</a>
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbspToDo管理</a>
    </div>
  </div>
  <div class="col-md-10">
    <!-- 右侧内容 -->
    {% block breadcrumb %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for('admin_index') }}">后台首页</a></li>
      <li class="active">用户管理</li>
    </ol>
    {% endblock %}
    {% block right_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block footer %}
    <footer>
        copyright 2017 by <a href="www.baidu.com">qyzxg</a>
    </footer>
{% endblock %}
