{% extends 'admin/base.html' %}
{% block head_title %}
    {{ title }}
{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('admin.admin_index') }}">后台首页</a></li>
        <li class="active">评论管理</li>
    </ol>
{% endblock %}
{% block right_content %}
    {{ super() }}
    <ul class="showul"
        style="display:none;list-style: none;  position:absolute; left:600px; top:100px;z-index:9999; background-color:#2B3E50; border:1px solid #ccc; width:120px;">
        <li>
            <input type="checkbox" class="toggle-vis" data-column="2"/>
            评论作者
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="3"/>
            文章标题
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="4"/>
            评论内容
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="5"/>
            评论时间
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="6"/>
            删除评论
        </li>
    </ul>
    <div class="table-responsive">
        {% include 'includes/_modal.html' %}
        <div class="" style="float:right;">
            <a class="btn btn-danger btn-sm" onclick='check()' id="dels">批量删除</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-sm" id="hids">隐藏字段</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="temp_check_value" hidden="hidden"></span>
            搜索：<input type="text" id="dsearch" placeholder="请输入关键词">
        </div>
        <table class="table table-bordered table-hover" id='stable'>
            <thead>
            <tr>
                <th>
                    <mark>序号</mark>
                </th>
                <th>
                    <mark>全选<input type="checkbox" id="checkAll"></mark>
                </th>
                <th>
                    <mark>评论作者</mark>
                </th>
                <th>
                    <mark>文章标题</mark>
                </th>
                <th>
                    <mark>评论内容</mark>
                </th>
                <th>
                    <mark>评论时间</mark>
                </th>
                <th>
                    <mark>删除评论</mark>
                </th>

            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td></td>
                    <td><input type="checkbox" name="checkList" class="on_check" value="{{ comment.id }}"></td>
                    <td><h5>{{ comment.author.username }}</h5></td>
                    <td><a href="{{ url_for('public.details', id_=comment.post.id) }}">
                        <h5>{{ comment.post.title|truncate(30, True) }}</h5>
                    </a></td>
                    <td><h5>{{ comment.body|striptags|truncate(30, True) }}</h5></td>
                    <td><h5>{{ comment.created.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                    <td><a href="{{ url_for('admin.comment_manage',id_=comment.id) }}" class="btn btn-danger">删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% block scripts %}
        {{ super() }}
        <script type="text/javascript">
            function check() {
                var chk_value = [];
                $('input[name="checkList"]:checked').each(function () {
                    chk_value.push($(this).val() + "#");
                });
                if (chk_value.length == 0) {
                    $('#selec_nothing').modal({
                        keyboard: true
                    });
                } else {
                    //把要删除的文章 id#id#id# 字符串写入temp_check_value标签 待提供后台
                    $('#temp_check_value').html(chk_value).appendTo("body")
                    $('#delet_all').modal({
                        keyboard: true
                    });

                }
            };

            //文章管理 提交文章id字符串 , 删除已选文章
            $(document).ready(function () {
                $("#s_delet_all").click(function () {
                    var v = document.getElementById('temp_check_value').innerHTML
                    $.post("/admin/comments_delete", {
                            id: v
                        },
                        function (data, status) {
                            if (data == "OK") {
                                location.reload(location.href)
                            } else {
                                alert("未知错误 , 请重试");
                                location.reload(location.href);
                            }
                        });

                });
                return false
            });
        </script>
    {% endblock %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}