{% extends 'admin/base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block head_title %}
    {{ title }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('admin.admin_index') }}">后台首页</a></li>
        <li class="active">通知管理</li>
    </ol>
{% endblock %}
<!-- 右侧内容 -->
{% block right_content %}
    {{ super() }}
    <h3>发送通知:</h3>
    <form class="form-inline" action="{{ url_for('admin.send_messages') }}" method="post">
        <div class="form-group">
            <label class="sr-only" for="content"></label>
            <div class="input-group">
                <div class="input-group-addon">内容:</div>
                <input type="text" class="form-control" id="content" name="content" placeholder="请输入通知内容,300个字符以内"
                       style="width: 785px">
            </div>
        </div>
        <button class="btn btn-default" type="submit">发送</button>
    </form>
    <br>
    <h3>已发通知:</h3>
    <div class="table-responsive">
                <table class="table table-bordered table-hover ">
                    <thead>
                    <tr>
                        <th>
                            <mark>消息内容</mark>
                        </th>
                        <th>
                            <mark>发送时间</mark>
                        </th>
                        <th>
                            <mark>发送给</mark>
                        </th>
                        <th>
                            <mark>消息状态</mark>
                        </th>
                        <th>
                            <mark>删除消息</mark>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in sended_messages %}
                        <tr>
                            <td style="max-width: 500px"><h5>{{ message.content }}</h5></td>
                            <td><h5>{{ message.created_at.strftime('%Y-%m-%d %H:%M') }}</h5></td>
                            <td><h5>{{ message.sendto.username }}</h5></td>
                            <td><h5>{{ message.get_status() }}</h5></td>
                            <td><a href="{{ url_for('admin.delete_message',id=message.id) }}" class="btn btn-danger">删除</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    {% if pagination %}
        {{ render_pagination(pagination) }}
    {% endif %}
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}