{% extends 'admin/base.html' %}

{% block head_title %}
    {{ title }}
    <title>分类管理</title>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('admin.admin_index') }}">后台首页</a></li>
        <li class="active">分类管理</li>
    </ol>
{% endblock %}

{% block right_content %}
    {{ super() }}
    <h3>分类管理</h3>
    <h4>现有分类</h4>
    {% for category in categories %}
        <mark>{{ category.name }}&nbsp;&nbsp;&nbsp;&nbsp;</mark>
    {% endfor %}
    <br>
    <br>
    <h4>添加分类</h4>
    <form action="" method="post" class="form-inline">
        {{ form.csrf_token }}
        {{ form.name(placeholder='请输入文章分类',class="form-control") }}
        {{ form.submit(class="btn btn-default") }}
    </form>
    {% for error in form.name.errors %}
        <span style="color: #feff14;">{{ error }}</span>
    {% endfor %}
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}