{% extends 'admin/base.html' %}

{% block head_title %}
    {{ title }}
{% endblock %}

<!-- 右侧内容 -->
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('admin.admin_index') }}">后台首页</a></li>
        <li class="active">用户管理</li>
    </ol>
{% endblock %}

{% block right_content %}
    {{ super() }}
    <ul class="showul"
        style="display:none;list-style: none;  position:absolute; left:600px; top:100px;z-index:9999; background-color:#2B3E50; border:1px solid #ccc; width:120px;">
        <li>
            <input type="checkbox" class="toggle-vis" data-column="2"/>
            用户名
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="3"/>
            邮箱
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="4"/>
            最后登录
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="5"/>
            城市
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="6"/>
            状态
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="7"/>
            角色
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="8"/>
            登录
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="9"/>
            角色
        </li>
        <li>
            <input type="checkbox" class="toggle-vis" data-column="10"/>
            删除
        </li>
    </ul>
    <div class="table-responsive">
    {% include 'includes/_modal.html' %}
        <div class="" style="float:right;">
            <a class="btn btn-danger btn-sm" onclick='check()' id="dels">批量删除</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-sm" id="hids">隐藏字段</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="temp_check_value" hidden="hidden"></span>
            搜索：<input type="text" id="dsearch" placeholder="请输入关键词">
        </div>
        <table class="table table-bordered table-hover " id='stable'>
            <thead>
            <tr>
                <th>
                    <mark>序号</mark>
                </th>
                <th>
                    <mark>全选<input type="checkbox" id="checkAll"></mark>
                </th>
                <th>
                    <mark>用户名</mark>
                </th>
                <th>
                    <mark>邮箱</mark>
                </th>
                <th>
                    <mark>最后登录</mark>
                </th>
{#                <th>#}
{#                    <mark>国家</mark>#}
{#                </th>#}
                <th>
                    <mark>城市</mark>
                </th>
                <th>
                    <mark>状态</mark>
                </th>
                <th>
                    <mark>文章</mark>
                </th>
                <th>
                    <mark>角色</mark>
                </th>
                <th>
                    <mark>登录</mark>
                </th>
                <th>
                    <mark>角色</mark>
                </th>
                <th>
                    <mark>删除</mark>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td></td>
                    <td><input type="checkbox" name="checkList" class="on_check" value="{{ user.id }}"></td>
                    <td>
                        {% if current_user.id == user.id %}
                            <a href="{{ url_for('profile.user_index', username = user.username) }}">
                                <h5>{{ user.username }}</h5></a>
                        {% else %}
                            <a href="{{ url_for('profile.others', username = user.username) }}">
                                <h5>{{ user.username }}</h5></a>
                        {% endif %}
                    </td>
                    <td><h5>{{ user.email }}</h5></td>
                    <td><h5>{{ user.last_login.strftime('%y-%m-%d') }}</h5></td>
{#                    <td><h5>{{ user.country|default('未知',true) }}</h5></td>#}
                    <td><h5>{{ user.city|default('未知',true) }}</h5></td>
                    <td><h5>{{ user.get_status() }}</h5></td>
                    <td><h5>{{ user.post_total }}</h5></td>
                    <td><h5>{{ user.get_roles() }}</h5></td>
                    {% if user.status == 1 %}
                        <td><a href="{{ url_for('admin.login_manage',id_=user.id,status=0,delete=0) }}"
                               class="btn btn-primary">限制</a></td>
                    {% else %}
                        <td><a href="{{ url_for('admin.login_manage',id_=user.id,status=1,delete=0) }}"
                               class="btn btn-success">解除</a></td>
                    {% endif %}
                    {% if user.role == 0 %}
                        <td><a href="{{ url_for('admin.role_manage',id_=user.id,role=1) }}"
                               class="btn btn-warning">管理</a>
                        </td>
                    {% else %}
                        <td><a href="{{ url_for('admin.role_manage',id_=user.id,role=0) }}"
                               class="btn btn-success">用户</a>
                        </td>
                    {% endif %}
                    <td><a href="{{ url_for('admin.login_manage',id_=user.id,status=0,delete=1) }}"
                           class="btn btn-danger">删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% block scripts %}
        {{ super() }}
        <script type="text/javascript">
            function check() {
                var chk_value = [];
                $('input[name="checkList"]:checked').each(function () {
                    chk_value.push($(this).val() + "#");
                });
                if (chk_value.length == 0) {
                    $('#selec_nothing').modal({
                        keyboard: true
                    });
                } else {
                    //把要删除的文章 id#id#id# 字符串写入temp_check_value标签 待提供后台
                    $('#temp_check_value').html(chk_value).appendTo("body")
                    $('#delet_all').modal({
                        keyboard: true
                    });

                }
            };

            //文章管理 提交文章id字符串 , 删除已选文章
            $(document).ready(function () {
                $("#s_delet_all").click(function () {
                    var v = document.getElementById('temp_check_value').innerHTML
                    $.post("/admin/users_delete", {
                            id: v
                        },
                        function (data, status) {
                            if (data == "OK") {
                                location.reload(location.href)
                            } else {
                                alert("未知错误 , 请重试");
                                location.reload(location.href);
                            }
                        });

                });
                return false
            });
        </script>
    {% endblock %}
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}