{% extends 'public/base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block title %}{{ title|safe }}{% endblock %}
{% block left_content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <h4 align="center">{{ post.title | safe }}</h4>
    </div>
    <hr>
    {# Meta 信息 #}
    <div align="center">
    <span>作者&nbsp&nbsp:
        {% if current_user.id == post.author_id %}
            <a href="{{ url_for('profile.user_index', username = post.author.username) }}">{{ post.author.username }}</a>
        {% else %}
            <a href="{{ url_for('profile.others', username = post.author.username) }}">{{ post.author.username }}</a>
        {% endif %}
    </span>
    <span>&nbsp&nbsp&nbsp&nbsp时间&nbsp&nbsp:{{ post.created }}</span>
    <span>&nbsp&nbsp&nbsp&nbsp分类&nbsp&nbsp:<a href="{{ url_for('cates.get_cates',cate=post.category) }}">{{ post.category }}</a></span>
</div>
    {# 正文 #}
    <hr>
    <div style="border: 1px solid #596a7b; border-radius:5px ;padding: 5px">
        {{ post.body|safe }}
    </div>
    <br>
    {# 收藏 #}
    <div align="right">
        {% if current_user.is_authenticated %}

            {% if not current_user.collecting(post) %}
                <a href="{{ url_for('profile.collect',id=post.id) }}">
                    <span class="label label-primary">添加收藏</span>
                </a>
            {% else %}
                <a href="{{ url_for('profile.uncollect',id=post.id) }}">
                    <span class="label label-default">取消收藏</span>
                </a>
            {% endif %}

        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if current_user.is_authenticated %}
            {% if current_user.id != post.author.id %}
                {% if not current_user.following(post.author) %}
                    <a href="{{ url_for('profile.follow',username=post.author.username) }}">
                        <span class="label label-primary">关注作者</span>
                    </a>
                {% else %}
                    <a href="{{ url_for('profile.unfollow',username=post.author.username) }}">
                        <span class="label label-default">取消关注</span>
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if current_user.is_authenticated %}
            {% if current_user.id == post.author.id %}

                <a href="{{ url_for('public.edit',id=post.id) }}">
                    <span class="label label-primary">编辑文章</span>
                </a>
            {% endif %}
        {% endif %}


        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('public.edit') }} ">
                <span class="label label-primary">发表文章</span>
            </a>
        {% endif %}
    </div>
    <h3>发表评论:</h3>
    {# 发表评论 #}
    <div>
        <form action="" method="post" class="form-horizontal" name="send">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.body(only_input=True,rows=1,class="form-control") }}
            </div>
            <div>
                <div class="col-md-9">
                    {% for error in form.body.errors %}
                        <span style="color: #feff14;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-info btn-block"><b><span class="glyphicon glyphicon-pencil"></span>&nbsp&nbsp发表&nbsp&nbsp</b>
                        </button>
                </div>
            </div>
        </form>


    </div>
    {# 评论列表 #}
    <br>
    <br>
    <h3>评论列表({{ post.comment_times }}):</h3>
    <div>
        {% for comment in comments|sort(attribute='created',reverse=True ) %}
            <div id='article-entry' class="entry-box">
                <div class="media media-left">

                    <img class="media-object img-circle" src="{{ comment.author.avatar }}" class="img-circle"
                         width="32px" height="32px">

                </div>
                <div class="media media-body">
                    <span>
                        {% if current_user.id == comment.author_id %}
                            <a href="{{ url_for('profile.user_index', username = comment.author.username) }}">{{ comment.author.username }}&nbsp;</a>
                        {% else %}
                            <a href="{{ url_for('profile.others', username = comment.author.username) }}">{{ comment.author.username }}&nbsp;</a>
                        {% endif %}
                    </span>
                    <small> @ {{ comment.created.strftime('%Y-%m-%d %H:%M') }}&nbsp;:</small>
                    <span>{{ comment.body }}</span>

                </div>
            </div>

        {% endfor %}
    </div>
    {% if pagination %}
        {{ render_pagination(pagination) }}
    {% endif %}
{% endblock %}
{% block right_content %}
    {% if current_user.is_anonymous %}
        <br>
        <br>
    {% else %}
        {% include 'includes/_todo_list.html' %}
    {% endif %}
    {% include 'includes/_post_cate.html' %}
    {% include 'includes/_hot_author.html' %}
    {% include 'includes/_hot_posts.html' %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}