{% extends 'public/base.html' %}
{% block title %}{{ title|safe }}{% endblock %}

{% block content %}
    <!-- Content -->
    <div id='content'>
        <div class="container">
            <div class='panel panel-default'>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
                <div class='panel-heading'>
                    <i class='fa fa-edit fa-lg'></i>&nbsp;&nbsp;&nbsp;发表文章
                </div>
                <div class='panel-body'>
                    <form class="form-horizontal" method="post">
                        {{ form.csrf_token }}
                        {{ form.title(class='form-control', placeholder='请输入标题,字数在5--50之间', type='text') }}

                        <p><span>{% for error in form.title.errors %}
                            <span style="color: #feff14;">{{ error }}</span>
                        {% endfor %}</span></p>
                        <div class="row" style="margin-bottom: 10px">
                            <div class="col-xs-3">
                                {{ form.style(class="form-control",placeholder='请选择文章类型') }}
                            </div>
                            <div class="col-xs-3">
                                {{ form.category(class="form-control",placeholder='请选择文章种类') }}
                            </div>
                            <div class="col-xs-6">
                                {{ form.tags(class="form-control",placeholder='请填入文章标签,标签之间以英文逗号隔开') }}
                            </div>
                        </div>


                        {{ form.body(placeholder='请输入文章内容,必须大于10个字') }}

                        <br>
                        <div class="col-md-7 ">
                            {% for error in form.body.errors %}
                                <span style="color: #feff14;">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div class="col-md-2 ">
                            是否公开:{{ form.is_public }}
                        </div>
                        <div class="col-md-3 ">

                            {{ form.submit(class="btn btn-info btn-block ") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}


    <script src="{{ url_for('static', filename ='tinymce/tinymce.min.js') }}"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='tinymce/plugins/codesample/plugin.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/tinymce_setup.js') }}"></script>
{% endblock %}


{% block footer %}
    {{ super() }}

{% endblock %}