{% extends 'public/base.html' %}
{% block title %}{{ title|safe }}{% endblock %}

{% block content %}
    <div align="center" style="margin-top: 50px">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div><h3>您当前的微信二维码是:</h3></div>
        <div><img src="{{ current_user.wx_img }}" class="img-thumbnail" width="200px" ,height="200px"></div>
        <form action="" method="post" enctype="multipart/form-data">

            <p><input type="file" name="file"></p>
            <h4><label for="num">收款金额(当前为{{ current_user.wz_num }}):</label></h4>
            <p><input type="text" name="num"></p>
            <p><input type="submit" value="提交"></p>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}