{% extends 'public/base.html' %}
{% block title %}{{ title|safe }}{% endblock %}

{% block content %}
    <div align="center" style="margin-top: 50px">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div><h3>您当前的图像是:</h3></div>
        <div><img src="{{ current_user.avatar }}" class="img-circle" width="200px" ,height="200px"></div>
        <form action="" method="post" enctype="multipart/form-data">

            <p><input type="file" name="file"></p>
            <p><input type="submit" value="上传图片"></p>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}