{% extends 'public/base.html' %}
{% block title %}{{ title|safe }}{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div align="center" style="margin-top: 50px">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <h3 style="padding-top: 30px">上传图像</h3>
        <img src="{{ current_user.avatar }}" width="100px" height="100px">
        <div id="dropbox">
            <span class="message"><h4>请把图片拖到这里,每次一张<br>支持png,jpg,jpeg,gif,bmp格式,大小不超过5M</h4></span>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename ='javascripts/upload_avatar.js') }}" type="text/javascript"></script>
{% endblock %}


{% block footer %}
    {{ super() }}
{% endblock %}