body { background: #2B3E50; font-family: 'Arial','Microsoft Yahei'; }
p { margin: 0; color: #fff; line-height: 30px; text-align: center; font-size: 18px; }
.lose-en { font-size: 14px; }
.lose-main { background: url("../images/error-bg.png") 0 0 no-repeat; background-size: 100%; min-height: 540px; }
.lose-box { width: 440px; height: 450px; position: absolute; left: 50%; top: 50%; margin: -225px 0 0 -220px; }
.lose-box img { margin-bottom: 50px; }
.lose-box a { width: 218px; height: 50px; display: block; margin: 50px auto 0 auto; border: solid 1px #fff; border-radius: 3px; text-align: center; line-height: 50px; color: #fff; text-decoration: none; transition: all ease-out .4s; }
.lose-box a:hover { background: #fff; color: #2B3E50; border-color: transparent; }