html{

    height: 100%;
}


body {
    min-height: 100%;
}
body a{
    text-decoration: none;
}

table a{
    text-decoration: none;
}
.container{
            margin-top: 50px;
        }


/*a:hover,*/
/*a:focus {*/
  /*color: #2a6496;*/
  /*text-decoration: underline;*/
/*}*/

/*a:focus {*/
  /*outline: thin dotted #333;*/
  /*outline: 5px auto -webkit-focus-ring-color;*/
  /*outline-offset: -2px;*/
/*}*/

/*#content {*/
    /*width: 100%;*/
    /*min-height: 600px;*/
    /*!*background:#444 url(footer.png);*!*/
    /*padding-top: 20px;*/

/*}*/


.register {
    padding: 20px;
    font-weight: 700;

    -moz-border-radius: 10px; /* Gecko browsers */
    -webkit-border-radius: 10px; /* Webkit browsers */
    border-radius: 10px; /* W3C syntax */
}

/*!*CSS For common appearance*!*/
/*body {*/
    /*background: #222222;*/


.blog-title a:link {
    text-decoration: none;
}
.signature {
    padding-left: 0px;
}
.content {
    min-height: 800px;
}
.article-entry-sum {
    margin-top: 5px;
}
.entry-box {

    padding-top: 5px;
    /*padding-top: 10px;*/
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #4d5f71;
    border-radius: 5px;
    width: 100%;



}
.entry-box:hover {
    box-shadow: 2px 2px 8px rgba(223,105,26,.5);

}
.article-entry-header {
    margin: 10px;
    padding: 0;
    border: 10px;
    font: inherit;
    vertical-align: baseline;
}
.article-entry-title {
    text-align:left;
    margin-bottom: 10px;
}
.article-entry-title a {
    text-decoration: none;
}
.article-entry-info {
    height: 28px;
    margin-top: 8px;


}
.article-entry-info .base-info {
    float: left;

}

.article-entry-info .main-info {
    float: right;
}

.list-group-item{
    padding: 5px;
}
