{% extends "cates/base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% block title %}{{ title|safe }}{% endblock %}

{% block left_content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    <h3> 所有分类为 " {{ cate }} " 的文章 共 {{ total }} 篇:</h3>
    {% for post in posts|sort(attribute='created',reverse=True ) %}
        {% include 'includes/_posts_summary.html' %}
    {% endfor %}

    {% if pagination %}
        {{ render_pagination(pagination) }}
    {% endif %}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}