<style>
    .copyright {
        margin-top: 0px;
        background: #2b3e50;
        font-size: 16px;
        text-align: center;
        color: #ebebeb;
        padding-top: 0px;
        padding-bottom: 10px;
        border-top: 0px solid #303030;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>
<div class="copyright">
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright © 2017-2020 <a href="http://www.51datas.com/">51datas</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备14002636号</a></span> |
                <span>邮箱<a href="mailto:qyzxg@live.com"> <i class="fa fa-envelope-o"></i></a></span> |
                <span>订阅<a href="{{ url_for('public.recent_feed') }}" target="_blank"> <i class="fa fa-rss-square"></i></a></span> |
                <span>GitHub<a href="https://github.com/qyzxg/myblog" target="_blank"> <i class="fa fa-github"></i></a></span>
            </div>
        </div>
    </div>
</div>






