
<div class="modal fade bs-example-modal-sm" id="delet_all" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="margin:0 auto;">
            <h2 style="text-align:center;color: white">确认要删除吗?</h2>
            <a style="margin-left:70px;" id='s_delet_all' class="btn btn-info">是</a>
            <span style="margin-left: 50px" data-dismiss="modal" class="btn btn-danger"> 否</span>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="selec_nothing" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h2 style="text-align:center;color: red">什么都没有选呢!</h2>
            <br>
            <br>
        </div>
    </div>
</div>