<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span><a href="{{ url_for('public.index') }}"><img
                    src="http://oqquc7c6d.bkt.clouddn.com/python.png" width="42px" height="42px"></a></span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('public.index') }}"><i class="fa fa-home"></i>&nbsp;主页<span class="sr-only">(current)</span></a>
                </li>
                <li><a href="{{ url_for('public.service') }}"><i class="fa fa-cutlery"></i>&nbsp;服务</a></li>
                <li><a href="{{ url_for('public.about') }}"><i class="fa fa-info-circle"></i>&nbsp;关于</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">文章分类<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for category in get_all_categories() %}
                            <li><a href="{{ url_for('cates.get_cates', cate = category.name) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="{{ url_for('public.search') }}" method="post">
                {{ g.search_form.csrf_token }}
                <div class="form-group">
                    {{ g.search_form.search(class="form-control",placeholder="站内搜索") }}
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile.user_index', username = current_user.username) }}"><img
                            src="{{ current_user.avatar }}" class="img-circle" width="21px" height="21px"></a></li>
                    <li><a href="{{ url_for('profile.messages_manage') }}"><i class="fa fa-envelope"></i>&nbsp;<font
                            color="red" size="3px">{{ current_user.unconfirmed_messages() }}</font>&nbsp;条</a></li>
                    <li><a href="{{ url_for('profile.user_index', username = current_user.username) }}"><i
                            class="fa fa-user-circle"></i>&nbsp;{{ current_user.username }}</a></li>
                    {% if current_user.role ==1 %}
                        <li><a href="{{ url_for('admin.admin_index') }}"><i class="fa fa-user-circle-o"></i>&nbsp;管理</a>
                        </li>
                    {% endif %}
                    <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i>&nbsp;退出</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.qq_login') }}"><img
                            src="http://oqquc7c6d.bkt.clouddn.com/qq_logo.png" width="21px" title="QQ快速登录" alt="QQ快速登录"></a>
                    </li>
                    <li><a href="{{ url_for('auth.github_login') }}"><img
                            src="http://oqquc7c6d.bkt.clouddn.com/github_logo.png" width="21px" title="GitHub快速登录"
                            alt="GitHub快速登录"></a></li>
                    <li><a href="{{ url_for('auth.login') }}"><i class="fa fa-sign-in"></i>&nbsp;登录</a></li>
                    <li><a href="{{ url_for('auth.register') }}"><i class="fa fa-registered"></i>&nbsp;注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
