<div id='article-entry' class="entry-box">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">文章分类</h3>
        </div>
        <div class="panel-body" style="padding: 5px">
            {% for category in categories %}
                <ul class="list-group" style="margin-bottom: 5px">
                    <li class="list-group-item" style="padding: 0px;margin: 0px">
                        <a href="{{ url_for('cates.get_cates', cate = category.name) }}">{{ category.name }}</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
</div>