{% extends 'base.html' %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block title %}{{ title|safe }}{% endblock %}
{% block left_content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <h4>{{ post.title | safe }}</h4>
    </div>
    <hr>
    {# Meta 信息 #}
    <span>作者&nbsp&nbsp:
        {% if current_user.id == post.author_id %}
        <a href="{{ url_for('.user_index', username = post.author.username) }}">{{ post.author.username }}</a>
        {% else %}
        <a href="{{ url_for('.others', username = post.author.username) }}">{{ post.author.username }}</a>
        {% endif %}
    </span>
    <span>&nbsp&nbsp&nbsp&nbsp发表日期&nbsp&nbsp:{{ post.created }}</span>

    {# 正文 #}
    <hr>
    <div>
        {{ post.body|safe }}
    </div>
    {# 收藏 #}
    <div>
        {% if current_user.is_authenticated %}

                {% if not current_user.collecting(post) %}
                    <a href="{{ url_for('.collect',id=post.id) }}">
                        <span class="label label-primary">添加收藏</span>
                    </a>
                {% else %}
                    <a href="{{ url_for('.uncollect',id=post.id) }}">
                        <span class="label label-default">取消收藏</span>
                    </a>
                {% endif %}
           
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if current_user.is_authenticated %}
            {% if current_user.id != post.author.id %}
                {% if not current_user.following(post.author) %}
                    <a href="{{ url_for('.follow',username=post.author.username) }}">
                        <span class="label label-primary">关注作者</span>
                    </a>
                {% else %}
                    <a href="{{ url_for('.unfollow',username=post.author.username) }}">
                        <span class="label label-default">取消关注</span>
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('.edit') }} ">
            <span class="label label-primary">发表文章</span>
        </a>
    </div>
    <h3>评论</h3>
    {# 发表评论 #}
    <div>
        <form action="" method="post" class="form-horizontal" name="send">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.body(only_input=True,rows=1,class="form-control") }}
            </div>
            <div class="col-md-3 col-xs-12">
                <button type="submit" class="btn btn-info btn-block"><b>&nbsp&nbsp发表&nbsp&nbsp</b>
                    <span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </form>
        {% for error in form.body.errors %}
            <span style="color: #feff14;">{{ error }}</span>
        {% endfor %}

    </div>
    {# 评论列表 #}
    <br>
    <br>
    <h3>评论列表:</h3>
    <div>
        {% for comment in comments|sort(attribute='created',reverse=True ) %}
            <div id='article-entry' class="entry-box">
                <div class="media media-left">

                    <img class="media-object img-circle" src="{{ comment.author.avatar }}" class="img-circle"
                         width="32px" height="32px">

                </div>
                <div class="media media-body">
                    <span >
                        {% if current_user.id == comment.author_id %}
                            <a href="{{ url_for('.user_index', username = comment.author.username) }}">{{ comment.author.username }}&nbsp;</a>
                        {% else %}
                            <a href="{{ url_for('.others', username = comment.author.username) }}">{{ comment.author.username }}&nbsp;</a>
                        {% endif %}
                    </span>
                    <small > @ {{ comment.created.strftime('%Y-%m-%d %H:%M') }}&nbsp;: </small>
                    <span>{{ comment.body }}</span>

                </div>
            </div>

        {% endfor %}
    </div>
    {% if pagination %}
        {{ render_pagination(pagination) }}
    {% endif %}
{% endblock %}
{% block right_content %}
    {% if current_user.is_anonymous %}
    <br>
    <br>
    {% else %}
    {% include 'includes/_todo_list.html' %}
{% endif %}

    {% include 'includes/_hot_posts.html' %}
{% endblock %}