{% extends 'base.html' %}


{% block content %}
    <!-- 注册表单开始 -->
    <div id="content">
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <form action="" method="post" class="form-horizontal" name="send">
                <div class="row">
                    <h1 class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 page_title ">注册</h1>
                </div>
                <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1 register">
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">用户名：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                {#                <input type="text" class="form-control" name="username" placeholder="请输入用户名">#}
                                {{ form.username }}
                                <div class="input-group-addon">
                                    {% for error in form.username.errors %}
                                        <span style="color: #feff14;">{{ error }}</span>
                                    {% endfor %}
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">密码：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                {#                <input type="password" class="form-control" name="password" placeholder="请输入密码（六位以上）">#}
                                {{ form.password }}

                                <div class="input-group-addon">
                                    {% for error in form.password.errors %}
                                        <span style="color: #feff14;">{{ error }}</span>
                                    {% endfor %}
                                    <span class="glyphicon glyphicon-lock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="chkpwd" class="col-sm-3 control-label">确认密码：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                {#                <input type="password" class="form-control" name="chkpwd" placeholder="请确认密码">#}
                                {{ form.confirm }}
                                <div class="input-group-addon">
                                    {% for error in form.confirm.errors %}
                                        <span style="color: #feff14;">{{ error }}</span>
                                    {% endfor %}
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">邮箱：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                {#                <input type="text" class="form-control" name="email" placeholder="请输入有效邮箱">#}
                                {{ form.email }}
                                <div class="input-group-addon">
                                    {% for error in form.email.errors %}
                                        <span style="color: #feff14;">{{ error }}</span>
                                    {% endfor %}
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#            <div class="form-group">#}
                    {#              <label for="authcode" class="col-sm-3 control-label">验证码：</label>#}
                    {#              <div class="col-sm-5">#}
                    {#                <div class="input-group">#}
                    {#                <input type="text" class="form-control" name="authcode" placeholder="请输入验证码">#}
                    {#               <div class="input-group-addon">#}
                    {#               <span class="glyphicon glyphicon-ok"></span>#}
                    {#               </div>#}
                    {#            </div>#}
                    {#            </div>#}
                    {#            <label for="authcode_img" class="control-label col-sm-1" style="padding-top: 0px;">#}
                    {#                <a class="btn btn-default" href="javascript:void(0)" onclick="document.getElementById('captcha_img').src='authcode.php?r'+Math.random()" title="换一个" ><img id="captcha_img" src="authcode.php?r=<?php echo rand();?>" alt="验证码"></a>#}
                    {#            </label>#}
                    {#            </div>#}
                    {{ form.csrf_token }}
                    <br>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3 col-xs-12">
                            <button type="reset" class="btn btn-default btn-block"><b>&nbsp&nbsp清空&nbsp&nbsp</b>
                                <span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <button type="submit" class="btn btn-info btn-block"><b>&nbsp&nbsp注册&nbsp&nbsp</b>
                                <span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 注册表单结束 -->
{% endblock %}
